name: Test

on:
  push:
    branches:
    - master
  pull_request:

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: ApeWorX/github-action@v1
      with:
        python-version: 3.9

    - name: Compile contracts
      run: ape compile --size

    - name: Install foundry
      uses: foundry-rs/foundry-toolchain@v1

    - name: Run tests
      env:
          WEB3_INFURA_PROJECT_ID: b7821200399e4be2b4e5dbdf06fbe85b        
      run: ape test -s
      timeout-minutes: 10
